$primary-color: magenta;

html,
body,
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

div.container {
  margin: 2em 0;
  text-align: center;
}

a.login-btn {
  background-color: skyblue;
  border-radius: 3px;
  padding: 1em 1.75em;
  color: white;
  font-weight: 600;
}

div.follows-page {
  margin: 2em;

  & > h1 {
    margin-bottom: 2em;
  }
}

.users-grid {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 2em;

  &__item {
    outline: 1px solid black;
    padding: 0.75em 1.25em;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
    color: currentColor;

    & h2 {
      font-size: 20px;
      font-weight: 700;
      color: currentColor;
    }
    & h3 {
      font-size: 15px;
      color: rgb(83, 100, 113);
    }
    &:hover {
      background-color: #f6f7f9;
    }
  }
}

.tweets-page {
  margin: 2em;

  & > h1 {
    margin-bottom: 2em;
  }
}

.tweets-grid {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 2em;

  &__item {
    font-size: 15px;
    padding: 1em;
    border: 1px solid rgb(239, 243, 244);
    margin-bottom: auto;

    &-bar {
      display: flex;
      justify-content: space-around;
      padding-top: 1em;
      border-top: 1px solid rgb(239, 243, 244);

      & button {
        padding: 0.5em;
      }
    }
  }
}
