$primary-color: magenta;

html,
body,
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

div.container {
  margin: 2em 0;
  text-align: center;
}

a.login-btn {
  background-color: skyblue;
  border-radius: 3px;
  padding: 1em 1.75em;
  color: white;
  font-weight: 600;
}
